/* You can add global styles to this file, and also import other style files */
body{
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  background-size:cover;
  display: flex;
  justify-content: center;
  height: 100%;
  font-family:'Courier New', Courier, monospace
}
